<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>ePLIbidem</name>
<type>edit</type>
<author>ePubLibre</author>
<description>Ayuda para ajustar notas ibíd.</description>
<engine>python3.4</engine>
<engine>python2.7</engine>
<version>0.8</version>
<oslist>osx,unx,win</oslist>
<autostart>True</autostart>
<autoclose>True</autoclose>
</plugin>
